# نادیده گرفتن تمام پکیج‌های نصب شده
node_modules

# نادیده گرفتن کدهای کامپایل شده نهایی در پروژه‌های وب
dist
build

# نادیده گرفتن گزارش‌های تولید شده توسط ابزارهای تست مثل Jest
coverage

# نادیده گرفتن فایل‌های کش برای بهینه‌سازی سرعت
.cache
